@import "../base/color.css";
@import "../base/font.css";

footer {
    font-size: 1.25rem;
    text-align: center;
    font-weight: var(--semibold);
    color: white;
    background-color: var(--main-color);
    height: 2rem;

    /* Align text vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
}