.work-in-progress-image {
    margin: 2rem 1rem;

    /* Image will shrink so the text is always visible without scrolling */
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    object-fit: contain;
}

.work-in-progress-text {
    text-align: center;
    margin-bottom: 2rem;
}