.work-in-progress-image {
    max-width: 60%;
    display: block;
    margin: 2.5rem auto 0;
}

/* Allow the image to be bigger in mobile phones */
@media (max-width: 767px) {
    .work-in-progress-image {
        max-width: 85%;
    }
}

.work-in-progress-text {
    text-align: center;
}