@import "shared.css";
@import "../components/navbar.css";
@import "../components/footer.css";

/* --- Common for mobile and desktop --- */

.contact {
    display: flex;
    align-items: center;
}

.lets-talk {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.lets-talk_prompt {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lets-talk_prompt_title {
    font-family: var(--secondary-font-family), var(--fallback-font-family);
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}

.lets-talk_prompt_text > * {
    font-size: 1.1rem;
    margin: 0;
}

.lets-talk_form {
    display: flex;
    flex-direction: column;
}

.lets-talk_form_input-pair {
    display: flex;
}

.lets-talk_form_message-textarea {
    resize: none;
}

.lets-talk_form_submit-button {
    align-self: center;
}

/* --- Applies to mobile screens (base scenario) --- */

main {
    margin-left: 2rem;
    margin-right: 2rem;
}

.contact {
    flex-direction: column;
    gap: var(--gap-between-elements);
}

.lets-talk_form_input-pair {
    flex-direction: column;
}

/* --- Applies to desktop screens --- */

@media (min-width: 768px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }

    .contact {
        flex-direction: row;
        gap: 4rem;
        max-width: 60%;
        margin: 0 auto;
    }

    .lets-talk {
        flex: 2;
    }

    .lets-talk_form_input-pair {
        flex-direction: row;
    }

    .also-here {
        flex: 1;
    }
}

/* --- Applies to big desktop screens --- */

@media (min-width: 2560px) {
    .contact {
        max-width: 40%;
    }
}