@import "shared.css";
@import "../components/navbar.css";
@import "../components/footer.css";

/* --- Common for mobile and desktop --- */

.contact {
    display: flex;
    align-items: center;
}

.lets-talk {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.lets-talk_prompt {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lets-talk_prompt_title {
    font-family: var(--secondary-font-family), var(--fallback-font-family);
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}

.lets-talk_prompt_text > * {
    font-size: 1.1rem;
    margin: 0;
}

.lets-talk_form {
    display: flex;
    flex-direction: column;

    background-color: var(--custom-white);
    padding: 1.5rem;
}

.lets-talk_form_fields {
    display: grid;
    gap: 1rem;
}

.lets-talk_form_fields > input,
.lets-talk_form_fields > textarea {
    background-color: var(--background-color);
    border: none;
}

.lets-talk_form_fields_message-textarea {
    resize: none;
}

.lets-talk_form_submit-button {
    align-self: center;
}

/* --- Applies to mobile screens (base scenario) --- */

.contact {
    flex-direction: column;
    gap: var(--gap-between-elements);
}

.lets-talk_prompt {
    margin: 0 2rem;
}

.lets-talk_form_fields {
    grid-template-columns: 1fr;
}

.lets-talk_form_fields_name-input {
    grid-column: 1;
    grid-row: 1;
}

.lets-talk_form_fields_email-input {
    grid-column: 1;
    grid-row: 2;
}

.lets-talk_form_fields_phone-input {
    grid-column: 1;
    grid-row: 3;
}

.lets-talk_form_fields_agree-whatsapp-container {
    grid-column: 1;
    grid-row: 5;
}

.lets-talk_form_fields_message-textarea {
    grid-column: 1;
    grid-row: 4;
}

/* --- Applies to desktop screens --- */

@media (min-width: 768px) {
    .contact {
        flex-direction: row;
        gap: 4rem;
        max-width: 60%;
        margin: 0 auto;
    }

    .lets-talk {
        flex: 2;
    }

    .lets-talk_form {
        border-radius: 30px;
    }

    .lets-talk_form_fields {
        grid-template-columns: 1fr 1fr;
    }

    .lets-talk_form_fields_name-input {
        grid-row: 1;
        grid-column: 1;
    }

    .lets-talk_form_fields_email-input {
        grid-row: 1;
        grid-column: 2;
    }

    .lets-talk_form_fields_phone-input {
        grid-row: 2;
        grid-column: 1;
    }

    .lets-talk_form_fields_agree-whatsapp-container {
        grid-row: 2;
        grid-column: 2;
    }

    .lets-talk_form_fields_message-textarea {
        grid-row: 3;
        grid-column: 1 / -1;
    }

    .also-here {
        flex: 1;
    }
}

/* --- Applies to big desktop screens --- */

@media (min-width: 2560px) {
    .contact {
        max-width: 40%;
    }
}