@import "shared.css";
@import "../components/navbar.css";
@import "../components/footer.css";

.introduction {
    margin: 2rem;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.introduction_text {
    text-align: center;
    font-size: 1.1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.introduction_text_greeting {
    font-size: 3rem;
}

.introduction_text_conclusion {
    margin-top: 1rem;
}

.introduction_text_conclusion_brand {
    color: var(--remark-color);
    font-weight: bold;
}

.introduction_image {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .introduction {
        max-width: 60%;
        margin-right: auto;
        margin-left: auto;
        
        flex-direction: row;
    }

    .introduction_text {
        flex: 1;
    }

    .introduction_image_container {
        flex: 1;

        /* By fixing it we want to match the text height */
        position: relative;
    }

    .introduction_image {
        height: 100%;
        width: auto;

        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
}