@import "../base/color.css";
@import "../base/font.css";

:root {
    --gap-between-elements: 3rem;
}

html {
    background-color: var(--background-color);
    font-family: var(--base-font-family), var(--fallback-font-family);
    font-size: var(--base-font-size);
}

body {
    margin: 0;

    /* Together with the <main /> css, the goal is to push the footer down */
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;

    margin-top: 2rem;
    margin-bottom: 4rem;
}